@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

.main {
    width: 100%;
    height: 8vh;
    background-color: rgb(6, 6, 78);
    padding-top: 1%;
    
}


button.house{
    background-color: rgb(6, 6, 78);
    font-size: 2rem;
    padding-left: 1rem;
}

button.game {
    position:fixed;
    left:5%;
    font-size: 2rem;
    background-color: rgb(6, 6, 78);
}

input{
    
    text-align-last: center;
    position: fixed;
    left: 40%;
    border: 3px solid #7afc00;
    background-color: rgb(158, 241, 241);
    font-size: 2rem;
    
}

button.menu {
    position:fixed;
    left:94%;
    font-size: 3rem;
    background-color: rgb(6, 6, 78);
}



.glyphicon-menu-hamburger {
    color: #7afc00;
    font-size: 35px;
 }

 .glyphicon-home {
    color: #7afc00;
    font-size: 35px;
 }

 .glyphicon-headphones {
    color: #7afc00;
    font-size: 35px;
 }



button.btn {
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    position:fixed;
    left:85%;
    }

@keyframes glowing {
     0% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
        }
     50% {
        background-color: #49e819;
        box-shadow: 0 0 20px #49e819;
        }
    100% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
         }
        }

button.btn {
        animation: glowing 1300ms infinite;
        }


.media-scroller{
    --_spacer: 1rem;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;

    padding: 0 var(--_spacer) var(--_spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover ;
}